.tetris-page .tetris-content{
	display:grid;
	grid-template-areas: ". game .";
	grid-template-columns: auto 550px auto;
	width: 100%;
	height: 100%;
	background-image: url("../images/background.png");
	background-size: cover;
	padding: 50px 0px 0px 0px;
}

.tetris-page .tetris-game {
	display: grid;
	grid-area: game;
	grid-template-areas:
		"header"
		"main";
	grid-template-rows: 66px 400px;
	width:100%;
}

.tetris-page .game-header {
	grid-area: header;
	display: grid;
	justify-content: center;
	width: 100%;
}
.tetris-page .game-title {
	background-image: url("../images/normal/title.png");
	width: 602px;
	height: 81px;
}

.tetris-page .game-main {
	grid-area: main;
	display: grid;
	height: 100%;
	grid-template-areas:
		"stats stats stats"
		"left play right";
	grid-template-columns: 120px auto 120px;
	grid-template-rows: 75px 1fr;
	justify-content: space-between;
	margin: 0px 30px;
}

.tetris-page .small-message {
    grid-area: stats;
    font-family: ocr-a-std, monospace;
    font-style: normal;
    padding: 15px;
    text-shadow: 0 0 5px #ffffff;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #22235f;
    color: white;
    font-size: 20px;
    text-align: center;}

.tetris-page .stats {
	grid-area: stats;
	display: grid;
	grid-template-areas:
	"level-title score-title goal-title"
	"level score goal";
	grid-template-columns: auto auto auto;
	justify-content: space-between;
	font-family: ocr-a-std, monospace;
	font-style: normal;
	padding: 15px 55px 5px;
	text-shadow: 0 0 5px #ffffff;
	-webkit-text-stroke-width: 0.5px;
	-webkit-text-stroke-color: #22235f;
	color: white;
}

.tetris-page .stats .small-message {
	grid-area: level;
	font-size: 18px;
}

.tetris-page .score-title,
.tetris-page .level-title,
.tetris-page .goal-title {
	font-size: 18px;
	justify-self: center;
	padding-bottom: 5px;
}


.tetris-page .score-title {
	grid-area: score-title;
}
.tetris-page .level-title {
	grid-area: level-title;
}
.tetris-page .goal-title {
	grid-area: goal-title;
}

.tetris-page .score,
.tetris-page .level,
.tetris-page .goal {
	font-size: 28px;
	justify-self: center;
	color: white;
}

.tetris-page .score {
	grid-area: score;
}

.tetris-page .level {
	grid-area: level;
}

.tetris-page .goal {
	grid-area: goal;
}

.tetris-page .game-left {
	grid-area: left;
	margin: 5px;
	padding: 0px;
	width: 116px;
}

.tetris-page .game-hold {
	background-image: url("../images/normal/hold.png");
	width: 116px;
	height: 141px
}


.tetris-page .game-hold-matrix {
	position: relative;
}

.tetris-page .play-button {
	background-image: url("../images/normal/play.png");
	width: 116px;
	height: 46px;
	cursor: pointer;
	margin-top: 11px;
}

.tetris-page .pause-button {
	background-image: url("../images/normal/pause.png");
	width: 116px;
	height: 46px;
	cursor: pointer;
	margin-top: 11px;
}

.tetris-page .resume-button {
	background-image: url("../images/normal/resume.png");
	width: 116px;
	height: 46px;
	cursor: pointer;
	margin-top: 11px;
}

.tetris-page .game-right {
	grid-area: right;
	margin: 5px;
	padding: 0px;
	width: 116px;
}


.tetris-page .game-ondeck {
	background-image: url("../images/normal/next.png");
	width: 116px;
	height: 292px;
}

.tetris-page .hold-title,
.tetris-page .ondeck-title {
	font-family: ocr-a-std, monospace;
    font-style: normal;
    font-size: 20px;
    padding: 17px 0px;
    width: 116px;
    text-align: center;
}

.tetris-page .hold-pieces {
	padding: 0px 19px 0px;
	display: grid;
}
.tetris-page .ondeck-pieces {
	display: grid;
	grid-template-areas:
		"one"
		"two"
		"three";

	grid-template-rows: auto auto auto;
	padding: 0px 16px 0px;
	height: 230px;
}
.tetris-page .game-ondeck-one {
	grid-area: one;
	position: relative;
}

.tetris-page .game-ondeck-two {
	grid-area: two;
	position: relative;
}

.tetris-page .game-ondeck-three {
	grid-area: three;
	position: relative;
}

.tetris-page .game-play {
	grid-area: play;
	background-image: url("../images/normal/grid.png");
	width: 265;
	height: 513px;
	position: relative;
}

.tetris-page .game-play-grid {
	width: 250px;
	padding:7px;
}


.tetris-page .whoop {
	position: absolute;
	z-index: 100;
	background-image: url("../images/whoop.png");
	background-size: cover;
}

.tetris-page .game-over {
	position: relative;
    z-index: 101;
    width: 320px;
    top: -200px;
    left: 0px;
    height: 20px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    background-color: red;
    padding: 10px 0px;
}

.tetris-page .shadow.cell {
	opacity: 0.25;
}

.tetris-page .gameover-cover {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.85)
}

.tetris-page .gameover {
    background: url(../images/gameover.png);
    background-size: contain;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;}
