.mj-table {
    display: grid;
    grid-template-areas:
        "header"
        "main";
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr;
    height: calc(100% - 50px);
}
.won .mj-table {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

.mj-gameover {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.85)
}

.won.mj-board-page {
    position: relative;
}

.mj-board-page {
	background-image: url("../images/oak.jpg");
}


.mj-table-controls {
    display: grid;
    grid-area: controls;
    grid-template-areas:
        "buttons";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
}

.mj-board-options {
    grid-area: options;
}

.mj-board-buttons {
    grid-area: buttons;
}


.mj-table .button.play-button {
    border-radius: 0px 6px 6px 0px;
    border-left-width: 0px;
    border-left-color: black;
}

.mj-board-header {
    display: grid;
    grid-template-areas:
        "controls timer"
        "message message"
        "short-message short-message";
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 25px 25px auto;
    grid-area: header;
    padding: 5px;
    position:relative;
}



#mj-timer {
    display: grid;
    grid-area: timer;
    justify-self: end;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    font-size: 2.5rem;
    color: #f8f8f7;
}

.mj-table-main {
    display: grid;
    grid-area: main;
    grid-template-areas:
        "options surface";
    grid-template-columns: 400px 1fr;
    z-index: 0;
}


.mj-table-controls {
    grid-area: "options";
    margin-top: 15px;
}

.mj-control-label {
    color: white;
    font-weight: bold;
    margin: 0px 4px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, .1);
    padding: 5px 5px 4px;
    top: 2px;
    display: inline-block;
    width: 90;
    margin-right: 10px;
}

.mj-option {
    margin-top: 15px;
}

.tileset-selector,
.tilesize-selector,
.layout-selector {
    top: 2px;
    height: 32px;
    font-size: 16px;
    font-weight: bold;
    padding: 0px 5px;
    box-shadow: 2px 2px 0 1px rgb(0 0 0 / 30%);
    border-style: none;
    width: 250px;
}

.mj-board-number {
    height: 32px;
    width: 178px;
    font-size: 16px;
    font-weight: bold;
    padding: 0px 5px;
    box-shadow: 0px 2px 0 1px rgb(0 0 0 / 30%);
    border-style: none;
}

.mj-surface {
    background-image: url("../images/felt.jpg");
    display: grid;
    grid-area: surface;
    grid-template-areas:
        "."
        "canvas"
        ".";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    width: calc(100% - 50px);
    border: 1px solid;
    border-color:
        rgba(0, 0, 0, 0.5)
        rgba(240, 240, 240, 0.5)
        rgba(240, 240, 240, 0.5)
        rgba(0, 0, 0, 0.5)
    ;

}

.board-canvas {
    grid-area: canvas;
    position: relative;
    width: 670px;
    height: 625px;
    overflow: hidden;
    justify-self: center;
}

.to-beat {
    text-align: center;
    width: 100%;
}

.to-beat .beat-timer {
	font-weight: bold;
    color: #d93f3a;
}

.mj-message {
    grid-area: message;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    font-size: 85px;
    color: #f8f8f7;
    text-align: center;
}

.mj-short-message {
    grid-area: short-message;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    height: 30px;
}

.show-won {display: none !important}
.won .show-won {display: inline-block !important}

.show-to-beat {display: none !important}
.to-beat .show-to-beat {display: inline-block !important}

.mj-table .button {
    padding: 7px 12px;
    border-radius: 6px;
    box-shadow: 2px 2px 0 1px rgb(0 0 0 / 30%);
    background-color: #605fab;
}

.mj-table .button:disabled {
    background-color: rgba(96, 95, 171, 0.66);
    color: rgba(255, 255, 255, 0.66);
}

tile-highlight {
    position: absolute;
    top: '0px' ;
    left: '0px';
}

@media (orientation: landscape) {
    @media screen and (max-width: 900px) {
        .mj-table {
            padding: 0px;
            grid-template-areas:
                "header board";
            grid-template-columns: 260px 1fr;
            grid-template-rows: 1fr;
        }
        .mj-board-header {
            padding: 5px;
            display: grid;
            grid-template-areas:
                "controls"
                "message"
                "short-message"
                "timer";
            grid-template-rows: 50px 32px 25px auto;
            grid-area: header;
        }

        .mj-message {
            text-align: right;
        }

        #mj-timer {
            display: grid;
            grid-area: timer;
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
            font-weight: bold;
            font-size: 40px;
            color: #f8f8f7;
        }
    }
}

@media (orientation: portrait) {
    @media screen and (max-width: 900px) {
        .mj-table {
            grid-template-areas:
                "header"
                "board";
            padding: 0px;
            grid-template-columns: 1fr;

        }
        .mj-board-header {
            padding: 5px;
            display: grid;
            grid-template-areas:
                "controls"
                "timer"
                "message"
                "short-message";
            grid-template-rows: auto auto auto auto;
            grid-template-columns: 1fr;
            grid-area: header;
        }

        #mj-timer {
            display: grid;
            grid-area: timer;
            text-align: right;
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
            font-weight: bold;
            font-size: 40px;
            color: #f8f8f7;
            padding-top: 10px;
        }
    }
}
